.navbar{
    border-radius: 0px;
}

#noga{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
}

.footer-header{
    font-size: 13px;
    font-weight: bold;

}

.footer-header > .brand-name{
    display: inline;
    color: lightskyblue;
}

#bodyContainer{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

#bodyContainer > div{
    border: 1px solid black;
}

.tabCloud{
    margin: 15px;
    border: 1px solid black;
}